.container {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 180px;
  position: relative;
  margin-left: auto;

}

h1 {
  font-family: Gimlet Sans Variable;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
}
