<div class="header-row">
  <img class="brand" src="./assets/riadmahi-brand.svg" alt=""/>
  <div class="header-items-row">
    <div class="header-item">
      <p class="p-item">Work</p>
    </div>
    <div class="header-item">
      <p class="p-item">About</p>
    </div>
    <div class="header-item">
      <p class="p-item">Blog</p>
    </div>
    <div class="header-item">
      <p class="p-item">Contact</p>
    </div>
    <div class="icons-row">
      <div class="icon-container" (click)="document.location.href = 'https://github.com/riadmahi';">
        <img class="icon" src="./assets/ic-github.svg">
      </div>
      <div class="icon-container" (click)="document.location.href = 'https://www.linkedin.com/in/riad-mahi/';">
        <img class="icon" src="./assets/ic-linkedin.svg">
      </div>
    </div>
  </div>
</div>
